.button-wrapper {
  display: flex;
  justify-content: flex-end;
  button {
    border-radius: 13px;
    margin-right: 1rem;
    background-color: sandybrown;
    border: none;
    color: white;
  }

  .primary-button{
    button:disabled {
      background-color: navajowhite;
    }
  }
  .secondary-button{
    button:hover {
      background-color: navajowhite;
    }
  }
}

nz-form-item {
  display: flex;
  justify-content: center;
}

input{
  border-radius: 13px;
}
input:hover {
  border-color: sandybrown;
}
input:focus{
  border-color: sandybrown;
  box-shadow: 0 0 0 2px rgba(255, 153, 0, 0.2);
}

input[type="file"] {
  border-radius: 0;
}

input[type="checkbox"] {
  border-color: red;
  background-color: red;
}

input[type="checkbox"]:checked {
  border-color: red;
  background-color: red;
}
