<form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control [nzSpan]="17" nzErrorTip="Please input the car name!">
      <input formControlName="name" nz-input placeholder="Car name"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="17" nzErrorTip="Please input the car type!">
      <input formControlName="type" nz-input placeholder="Type" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="17" nzErrorTip="Please input a valid year!">
      <input formControlName="year" nz-input placeholder="Manufacture year"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="17" nzErrorTip="Please input a valid country!">
      <input formControlName="country" nz-input placeholder="Country" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="17" nzErrorTip="Please input a number!">
      <input formControlName="horsepower" nz-input placeholder="Horsepower" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="17" nzErrorTip="Please input a valid number!">
      <input formControlName="zeroToHundred" nz-input placeholder="0 to 100 in seconds" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="17">
        <label class="checkbox">
          <input type="checkbox" formControlName="favorite">
          <span>Favorite</span>
        </label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="14">
      <div class="file">
        <input type="file" name="file" id="file" class="inputfile" (change)="onFileSelected($event)"/>
        <label for="file">Choose a file</label>
        <span class="chosen-file" id="chosen-file-name"></span>
      </div>
    </nz-form-control>
  </nz-form-item>

  <div class="button-wrapper">
    <div class="primary-button">
      <button *ngIf="!carToEdit" nz-button nzType="primary" [disabled]="!validateForm.valid">Add car</button>
      <button *ngIf="carToEdit" nz-button nzType="primary" [disabled]="!validateForm.valid">Edit car</button>
    </div>
    <div class="secondary-button">
      <button nz-button type="button" (click)="close()">Cancel</button>
    </div>
  </div>
</form>
