@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.title{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Monoton', cursive;
  text-align: center;
  word-spacing: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
}
